
body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
    background: linear-gradient(-100deg, #161616, #002e41, #1d1c1c);
    background-size: 400% 400%;
    animation: backgroundTransition 8s ease-in-out infinite;
}

/* HEADER */

.header-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

h2 {
    text-transform: uppercase;
    letter-spacing: 4px;
}

.link_personalizado{
    color: #ffffff;
}

.social-media {
    margin-top: 1rem;
    display: flex;
}

.social-media a {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    padding: 1rem 4rem;
    border: 1px solid #ffffff;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s cubic-bezier(0.55, 0.025, 0.675, 0.97);
}

a:hover {
    color: #2E1C2B;
    background-color: #ffffff;
}

.link-menu:hover{
    background-color: #525566;
}

@keyframes backgroundTransition {
    0% {
        background-position:  0% 80%;
    }
    50% {
        background-position: 80% 100%;
    }
    100% {
        background-position: 0% 90%;
    }
}

/* MENU HAMBURGUER */

.checkbox-container {
    display: flex;
    text-align: center;
    margin-top: 10em;
}

.checkbox {
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
    width: 50px;
    height: 2px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1) {
    top: 26px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(2) {
    top: 46px;
    transform: rotate(0);
}

.checkbox .trace:nth-child(3) {
    top: 66px;
    transform: rotate(0);
}

#toggle {
    display: none;
}

/* seta animação */

.seta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    
}
  
.chevron {
    position: absolute;
    width: 2.1rem;
    height: 0.48rem;
    opacity: 0;
    transform: scale(0.3);
    -webkit-animation: move-chevron 3s ease-out infinite;
    animation: move-chevron 3s ease-out infinite;
}
  
.chevron:first-child {
    -webkit-animation: move-chevron 3s ease-out 1s infinite;
    animation: move-chevron 3s ease-out 1s infinite;
}
  
.chevron:nth-child(2) {
    -webkit-animation: move-chevron 3s ease-out 2s infinite;
    animation: move-chevron 3s ease-out 2s infinite;
}
  
.chevron:before, .chevron:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: #cae0f6;
}
  
.chevron:before {
    left: 0;
    transform: skewY(30deg);
}
  
.chevron:after {
    right: 0;
    width: 50%;
    transform: skewY(-30deg);
}
  
@-webkit-keyframes move-chevron {
25% {
    opacity: 1;
}
33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
}
66.6% { 
    opacity: 1;
    transform: translateY(3.12rem);
}
100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
}
}
  
@keyframes move-chevron {
25% {
    opacity: 1;
}
33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
}
66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
}
100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
}
}

/* CARDS */

.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 3rem 0;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.card_git {
    height: 250px;
    width: 350px;
    margin: 5em 0 0 0;
    background-image: url('../img/perfil_github.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: #ffffff;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2em;
}

.card_linkedin {
    height: 250px;
    width: 350px;
    margin: 10rem 0 20rem 0;
    background-image: url('../img/perfil_linkedin.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: grayscale(0.5);
    color: white;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 2em;
}

.card-text {
    width: 40%;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: #ffffff;
}

.card-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card-wrapper::before {
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}

.card-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
    transition: 0.3s;
}

.card-wrapper p {
    font-size: 0;
    visibility: hidden;
    opacity: 0;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.card_git:hover, .card_linkedin:hover {
    filter: unset;
}

.card_git:hover > .card-wrapper::before, .card_linkedin:hover > .card-wrapper::before {
    height: 250px;
    width: 350px;
    opacity: 1;
}

.card_git:hover > .card-wrapper p, .card_linkedin:hover > .card-wrapper p {
    opacity: 1;
    visibility: visible;
    font-size: 14px;
}

/* FOOTER */

.footer {
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 25px;
}

@media (max-width: 800px) {
    .social-media {
        display: flex;
        flex-direction: column;
    }

    .social-media, a{
        margin-top: 20px;
    }

    .checkbox-container {
        margin-top: 5em;
    }

    .container {
        margin-top: 0;
    }

    .card-container {
        flex-direction: column;
    }

    .container .card-container:nth-child(1),
    .container .card-container:nth-child(3) {
        flex-direction: column-reverse;
    }

    .card {
        height: 250px;
        width: 250px;
    }

    .card-text {
        width: 90%;
        margin-top: 2rem;
        text-align: center;
    }

    .card:hover > .card-wrapper::before {
        height: 190px;
        width: 190px;
    }
}